@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@100&display=swap');
html {
    scroll-behavior: smooth;
  }
*{
    margin:0px;
    padding:0px;
}
.container{
    text-align: center;
}
.menuItems{
    background-color: #382933;
    border-bottom: 1px solid #eeee;
    position: sticky;
    top:0;
}
.menuItems ul{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}
.menuItems ul li{
    list-style: none;
    margin: 0px 20px;
    color: #e2e1e1;
    font-size: 18px;
}
.menuItems ul li a{
    color: #e2e1e1;
text-decoration: none;
}
/*Top section my details */
.topSectionDetails{
background-color:#382933 ;
padding: 40px 0px;
font-family: 'Montserrat', sans-serif;
}
.topSectionDetails p{
    padding: 20px 0px;
}
.name{
    font-size: 50px;
    color:#A4B494;
}
.myName img{
    border-radius: 50%;
}
.brief1{
    font-size: 20px;
    color: #eeee;
}
.brief2{
    font-size: 18px;
    color: #eeee;
    margin-bottom: 20px;
}

.exploreBtn >a{
    background-color: #0e00009e;
    color: #eeee;
    padding: 15px 40px;
    border: none;
    font-size: 20px;
    border-radius: 15px 5px;
}
/* About Section*/
.aboutSection{
    padding-top: 60px;
}
.aboutHeading,.projectHeading,.contactHeading{
font-size: 60px;
margin:10px 0px
} 
.aboutDetailsSection{
    display: flex;
    padding: 50px 0px;

    flex-wrap: wrap;
    justify-content: space-around;
}
.aboutDetails{
    width: 20%;
    border: 1px solid;
    padding: 10px;
    border: 1px solid #eeee;
}
.aboutDetails img{
    height: 5rem;
    margin-bottom:20px ;
}
.aboutDetails h2{
    margin-bottom: 20px;
}
.detailsAboutMe{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.whoAMI,.myTechSection{
    flex-basis: 50%;
}
.whoAMI>img{
    height: 40%;
    border-radius: 40px 60px;
}
.whoAmIHeading,.myTechSectionHeading{
    font-size: 2rem;
    color:#382933
}
.myStack{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}
.singletech {
    width: 25%;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 1px 1px #eee;
    border-radius: 1rem;
transition: all ease 0.5s;

}
.singletech:hover {
box-shadow: 1px 1px 2px 1px #ababab;
transition: all ease 0.5s;
}
.singletech img{
    width: 20%;
}

/* .myTechSection ul{
    list-style: none;
}
.myTechSection ul li{
    margin: 10px 0px;
    border-bottom: 1px solid #eeee;
} */
/* project section */
.projectSection{
    background-color: #eeee;
padding:60px 0px;
}
.projectsList ul {
    display: flex;
    justify-content: center;
    margin: 20px;
    list-style: none;
}
.projectsList ul li{
    color:black;
    margin: 0px 25px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
.myProjects img{
    width: 300px;
}
.myProjects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Contact Section*/
.contactMeSection{
padding:60px 0px;
background-color: #382933;
}
.contactMe{
    color: #519872;
}
.contactMeIcons{
    border-top: 1px solid #eeee;
    padding-top: 40px;
}
input{
    padding: 10px;
    margin: 10px;
    width: 40%;
    /* text-align: left; */
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px #519872;
    border: none;
    outline: none;
}
textarea{
    width: 40%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px #519872;
    outline: none;
    border: none;
    color: #519872;
    padding: 10px;


}
button{
    padding: 5px 20px;
    color: #f1f1f1;
    font-size: 16px;
    background-color: #00000096;
    box-shadow: 1px 1px 1px 1px #5198727a;
    border-radius: 10px;
}
i{
    color: #7f9b8c;
    margin: 0px 10px;
}

.hide{
    display: none;
}
.display{
    display:block;
}
.displayProject{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
}
.singleProject{
    overflow: hidden;
    width: 15%;
    border-radius: 10px;
    box-shadow: 3px 1px 6px 1px #b2c3ba;
}
.singleProject img{
    max-width: 100%;
}
.singleProjectHeading{
    color:#382933;
    padding: 1rem 0rem;
}
.projectDescription{
    color: black;
    padding: 1rem 0.5rem;

}
.projectsLinks{
    padding: 0.5rem ;
    display: flex;
    justify-content: space-around;
}

.projectsLinks a{
    text-decoration: none;
    background-color: #0e00009e;
    color: #eeee;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
}
.bottomSec{
    color: #519872;
    padding: 1rem;
}
.resumeDiv{
    position: fixed;
    /* z-index: 9999; */
    bottom: 50;
    right:30;
 
}

.resumeDiv img{
    height: 80px;
    width: 80px;
    cursor: pointer;

}
